<% if flash[:error] %>
   <p><%= flash[:error] %></p>
<% end %>

<div class="squarebox span-10 last">
<%= form_for(:session, :url => sessions_path) do |f| %>
		<%= f.label "Enter you email"%>
		<%= f.text_field :email%>
		<%= f.submit "Log in"%>
<% end %>
</div>
