<header>
	<nav>
		<ul>
			<li><%= link_to "pending", pending_reviews_path %></li>
			<li><%= link_to "done", done_reviews_path %></li>
			<li><%= link_to "all", reviews_path %></li>
			<li> | </li>
			<li><%= link_to "reviewers", reviewers_path %></li>
			<li> | </li>
			<% if signed_in? %>
				<li><%= link_to "log out", logout_path, :method => :delete %></li>
				<li>(<%= session[:reviewer].email %>)</li>
			<% else %>
				<li><%= link_to "log in", login_path %></li>
			<% end %>
		</ul>
	</nav>
	<h1><a>Reviewme</a><br/>... it'd better be simple, clean and tested</h1>
</header>