<!DOCTYPE html>
<html>
<head>
  <title>Reviewme</title>
  <!-- meta http-equiv="Refresh" content="2" -->
  <%= render 'layouts/stylesheets'%> 	
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header'%> 	
  <div class="container">
	<section>
		<%= yield %>
	</section>
	<%= render 'layouts/footer'%> 	
  </div>
</body>
</html>
