<!DOCTYPE html>
<html>
<head>
  <title>Reviewme</title>
  <%= stylesheet_link_tag    "blueprint/screen", :media => "screen" %>
  <%= stylesheet_link_tag    "blueprint/print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3>Reviewme</h3>

<%= yield %>

</body>
</html>
